body { 
    font-family: Arial, Helvetica, sans-serif;
} 

.warn, .warning {
    color: red;
}
.success {
    color: blue;
}
#license {
margin-top: 3em;
color: grey;
border-top: 1px solid grey;
padding: 1em 0;
}
#license a, #license a:visited {
color: grey;
}
#navlinks {

}
#navlinks li, .action {
    display: inline;
    list-style: none;
    border: 1px solid black;
    padding: .25em;
    border-radius: 5px;
    margin-left: 1em;
    background-color: #CFDBF3;
}

#navlinks li a, #navlinks li a:visited, .action {
    color: black;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

#navlinks li:hover {
    background-color: lightgreen;
}
